*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 250, 245);
}

/* utils */
nav{
    width: 70%;
    background-color: white;
    margin: 0 auto;
    padding: 10px 50px;
    height: 50px;
    margin-bottom: 5px;
}

.container{
    width: 70%;
    background-color: white;
    margin: 0 auto;
    font-family: 'Arial ExtraBold', sans-serif;
}

/* header */
header{
    height: 80px;
    padding: 10px 25px;
    background-color: white;
    margin-bottom: 25px;
}

#logo{
    height: 100%;
    vertical-align: middle;
}

#txt-toboolist{
    font-family: 'Arial ExtraBold', sans-serif;
    font-size: 50px;
    vertical-align: middle;
}
/* fine header */

/* inizio nav */
.btn{
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-blu{
    background-color: rgb(38, 202, 252);
    border: 1px solid rgb(38, 202, 252);
    color: white;
}

.btn-white{
    background-color: white;
    color: gray;
    border: 1px solid gray;
}
/* fine nav */

/* main */
.new-task, .today, .upcoming{
    padding: 10px 50px;
}

li{
    font-family: 'Arial Bold', sans-serif;
    list-style-type: none;
    padding: 10px;
}

h2::before{
    content: '\25BC';
}

.circle:before{
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.done::before{
    content: '\2717';
    color: green;
    border: 1px solid green;
}

.not-done:before{
    content: '\2717';
    color: red;
    border: 1px solid red;
}

.tag{
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 8px;
}

.editorial{
    background-color: rgb(18, 136, 172);
}

.recluting{
    background-color: rgb(18, 187, 69);
}

.Q1Goals{
    background-color: rgb(141, 18, 172);
}

.mobile{
    background-color: orange;
}

.websites{
    background-color: red;
}

.sales{
    background-color: lightblue;
}

/* fine main */